<h1>View</h1>
<div id="content">
	<div id="breadcrump"><%= link_to 'homepage', '/' %> > <%= link_to @article.category.title, "/#{@article.category.category_code}" %></div>
	<p><%= @article.title %></p>
	<%= @article.lead -%>
	<%= @article.content -%>
	<p><%= @article.author %></p>
	<p><%= @article.created_at %></p>
	<%= show_image_for(@article, 'l_thumb') %>
	<div id="tags"> <% @tags.each do |tag| -%>
    [ <%= link_to tag, "/tag/#{tag}" %> ]
	<% end -%>
</div>  	
</div>

<% unless @related_articles.empty? || @settings.show_related_articles == false %>
<div id="related_articles">
  <h3>related articles:</h3>
  <ul>
  <% @related_articles.each do |ra| -%>
    <li><%= link_to ra.title, "/#{ra.category.category_code}/#{ra.article_code}" %></li>
  <% end -%>
  </ul>
</div>
<% end -%>

<% unless @catagory_articles.empty? || @settings.show_categories_articles == false -%>
<div id="category_articles">
  <h3>category articles:</h3>
  <ul>
  <% @catagory_articles.each do |ca| -%>
    <li><%= link_to ca.title, "/#{ca.category.category_code}/#{ca.article_code}" %></li>
  <% end -%>
  </ul>
</div>
<% end -%>

<% if @settings.show_comments -%>
<div id="commnets">
	<% form_for @comment, :url => '/frontend/add-comment' do |f| -%>
	<p><label for="comment_author">Author</label><br/>
	<%= f.hidden_field :article_id, :value => @article.id -%>
	<%= hidden_field_tag :reffer, @reffer %>	
	<%= f.text_field :author %></p>
	
	
	<p><label for="content">Content</label><br/>
	<%= f.text_area :content %></p>	
	
	<p><%= f.submit 'Create' %></p>
	<% end -%>


<% @comments.each do |c|  -%>
	<p><%= c.created_at  %> | <%= c.author  %></p>
	<p><%= c.content %></p>
	<hr />
<% end -%>
</div>
<% end -%>

<%= link_to 'Send mail', '/sendmail' %>