<%= error_messages_for :article %>
<% form_for @article, :html => { :multipart => true } do |f| -%>
<p><label for="article_title">Title</label><br/>
<%= f.text_field :title %></p>

<p><label for="article_categry_id">Category</label><br/>
<%= select ("article", "category_id", @categories.map {|c| [c.title,c.id]}) %></p>

<p><label for="lead">Lead</label><br/>
<%= f.text_area :lead %></p>

<p><label for="content">Content</label><br/>
<%= f.text_area :content %></p>

<p><label for="author">Author</label><br/>
<%= f.text_field :author %></p>

<p><label for="image_name">Image</label><br/>
<%= file_field_tag :image_name %></p>

<p><label for="file_name">File</label><br/>
<%= file_field_tag :file_name %></p>
<% unless @files.empty? %>
	<p>Related Files:</p>
	<ul>
	<% @files.each do |file| %>
		<li>[<%= link_to "delete", :controller => 'articles', :action => 'delete_image', :id => file.id %>] - <a href="<%= file.public_filename %>"><%= file.filename %></a></li>		
	<% end %>
	</ul>
<% end %>

<p><label for="tags">Tags</label><br/>
<%= text_field_with_auto_complete :tags, :tag, {:value => @tags_value }, {:tokens => ', '} %>

<p><label for="from_date">Date from</label><br/>
<%= f.date_select :from_date %></p

<p><label for="to_date">Date to</label><br/>
<%= f.date_select :to_date %></p>

<p><label for="show_on_homepage">Show on homepage</label><br/>
<%= f.check_box :show_on_homepage %></p>

<p><%= f.submit 'Edit' %></p>
<% end -%>
