	<h3>Ukupno članaka: <%= @articles.size %></h3>
	
	<table border="0" cellpadding="0" cellspacing="0" id="main">
	  <tr class="titles">
		<td class="title">Naslov</td>
		<td class="edit">Uredi</td>
		<td class="category">Kategorija</td>
		<td class="archive">Arhiviraj</td>

		<td class="date">Datum</td>
		<td class="order">Poredak</td>
	  </tr>
	
	<% for article in @articles %>
	<%			
		cnt ||= 0
		cnt = cnt + 1
		css_class = cnt.odd? ? ' class="darker"' : ''
	%>	
	<tr<%= css_class %>>
		<td class="title"><a href="articles/edit/<%= article.id %>"><%= article.article_title %></a></td>
		<td class="edit"><a href="articles/edit/<%= article.id %>">Uredi</a></td>
		<td class="category"><%= article.category_title %></td>

		<td class="archive"><a href="articles/archive/<%= article.id %>" onclick="return confirm('Jeste 100% sigurni da želite arhivirati članak O Attacku text ?')"">Arhiviraj</a></td>
		<td class="date"><%= article.created_at %></td>
		<td class="order"><label title="Poredaj tekstove"><input name="disorder[31]"  value="" type="text" size="3" /></label></td>
	 </tr>
	<%- end %>	
	
	</table>
