<p><%= @article.title %></p>
<p><%= @article.article_code %></p>
<p><%= show_image_for(@article, :s_thumb) %></p>
<p><%= show_image_for(@article, :l_thumb) %></p>
<p><%= show_image_for(@article) %></p>
