	<h3>Ukupno kategorija: <%= @categories.size %></h3>
	
	<table border="0" cellpadding="10" cellspacing="0" id="main">
	  <tr class="titles">
		<td class="title">Naslov</td>
		<td class="edit">Uredi</td>
		<td class="category">Nadkategorija</td>		

		<td class="date">Datum</td>
    <td class="date">Obriši</td>
		<td class="order">Poredak</td>
	  </tr>
	
	<% for category in @categories %>
	<%	
		
		cnt ||= 0
		cnt = cnt + 1
		css_class = cnt.odd? ? ' class="darker"' : ''
	%>	
	<tr<%= css_class %>>
		<td class="title"><a href="categories/edit/<%= category.id %>"><%= category.title %></a></td>
		<td class="edit"><a href="categories/edit/<%= category.id %>">Uredi</a></td>
		<td class="category"><% if category.parent.nil? %>---<% else %><%= category.parent.title %><% end %></td>
	
		<td class="date"><%= category.created_at %></td>
    <td class="date"><%= link_to 'Obriši', "/categories/destroy/#{category.id}" %></td>
		<td class="order"><label title="Poredaj kategorije"><input name="disorder[31]"  value="" type="text" size="3" /></label></td>
	 </tr>
	<%- end %>
	
	</table>
